<h1 *ngIf="(!authService.loggedIn);">{{title}}</h1>
<div class="mainDiv" onload="style.opacity='1'" *ngIf="(!authService.loggedIn);else signedin">
  <div style="display: inline-block; width: 100%;">
    <div class="info">
      {{info}}
    </div>
    <div class="signin">
      <app-signin></app-signin>
    </div>
  </div>
</div>

<ng-template #signedin>
  <h1>{{title}}</h1>
  <app-characters></app-characters>
  <div style="width: 100%; height: 100%">
    <app-chat></app-chat>
    <!--<div class="newslist">
      <news-list></news-list>
    </div>-->
  </div>
</ng-template>