.mainDiv {
    background-color: bisque;
    border-style: solid;
    border-radius: 15px;
    width: 33vw;
    height: 66vh;
    margin: 10vh 33vw;

}
h1 {
    font-size:6vh;
    text-align: center;
    vertical-align: 0;
}

.info{
    float: left;
    margin: 0;
    padding: 3px;
    width: 45%;
}

.info h3{
    font-size: 10px;
}

.login{
    text-align: center;
    float: right;
    background-color: azure;
    margin: 5px 10px 5px 0 ;
    padding: 3px;
    height: 45vh;
    width: 45%;
}