<div class="container">

    <div class="characterCircle">
        <img class="selectedAvatar" *ngIf="selectedCharacter" src="./../assets/characters/{{selectedCharacter.avatar}}">
        <div class="avatarHolder" [ngStyle]="calcDeg(i)" *ngFor="let character of myCharacters; let i = index;" (click)="setSelectedCharacter(character)"
            [ngClass]="{selected: isSelected(character)}">
            <img class="avatar" src="./../assets/characters/{{character.avatar}}" alt="Icon">
        </div>
    </div>
    <div id="overlay">
        <div class="corner" id="rightbottom" style="bottom:15px;"></div>
        <div class="corner" id="righttop" style="top:15px;"></div>
    </div>
    <div class="characterinfo">
        <div *ngIf="selectedCharacter">
            <p id="name">{{selectedCharacter.name}}</p>
            <p id="chartitle">{{selectedCharacter.title}}</p>
            <!-- Maybe we should nest story into div  -->
            <p id="story">{{selectedCharacter.story}}</p>
            <div class="stats">
                <ul id="statList">
                    <li>Level: {{calcLevel()}}</li>
                    <li>Health: {{updateStat("health")}}</li>
                    <li>Mana: {{updateStat("mana")}}</li>
                    <li>Attack: {{updateStat("attack")}}</li>
                    <li>Defence: {{updateStat("defence")}}</li>
                    <li>Speed: {{updateStat("speed")}}</li>
                    <li>Intellect: {{updateStat("intellect")}}</li>
                    <li>Sanity: {{updateStat("sanity")}}</li>
                </ul>
            </div>
            <div class="addTeam-btn" (click)="addtoTeam(selectedCharacter)">
                <div *ngIf="isInTeam(selectedCharacter); then removefromteam else addtoteam"></div>
                <ng-template #addtoteam>
                    <p class="center-y text-center">Add to team</p>
                </ng-template>
                <ng-template #removefromteam>
                    <p class="center-y text-center">Remove from team</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<app-my-team></app-my-team>