<div class="container">
    <div class="characterCircle">
        <img class="selectedAvatar" *ngIf="selectedCharacter" src="./../assets/characters/{{selectedCharacter.avatar}}">
        <div class="avatarHolder" [ngStyle]="calcDeg(i)"
         *ngFor="let character of myCharacters; let i = index;"
         (click)="setSelectedCharacter(character)"
         [ngClass]="{selected: isSelected(character)}"
        >
             <img class="avatar" src="./../assets/characters/{{character.avatar}}" alt="Icon"> 
        </div>
    </div>
     <div id="overlay"></div> 
    <div class="characterinfo">
        <div *ngIf="selectedCharacter">
            <h3>{{selectedCharacter.name}}</h3>
            <p>{{selectedCharacter.story}}</p>
            <div class="stats">
                tässä pitäisi olla dataa    
            </div>    
        </div>
    </div>
</div>