.container{
    position: relative;
    margin-left: 60px;
    width: 450px;
    height: 450px;
    overflow: visible; 
    display: block;
}


.characterCircle, #overlay{
    float: left;
    position: absolute;
    width: 384px;
    height: 384px; 
}

#overlay{
    top: 18px;
    left: 22px;
    width: 776px;
    height: 444px;
    pointer-events: none;
    background: url("/assets/misc/char-Selection.png");
    background-repeat: no-repeat;
    z-index: 10;
    margin: auto; 
}

.characterCircle .selectedAvatar{
    position:absolute;
    border-radius: 50%;
    transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    -webkit-transform: scale(2.5, 2.5);
    top: 50%;
    left: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.characterCircle .selected{
    -webkit-filter: contrast(230%);
    filter: contrast(230%);
}

.characterCircle div {
    border-radius: 50%;
	display: block;
	overflow: hidden;
    position: absolute;
    top: 55%; left: 55%; 
    border: solid 3px;
}

.characterCircle div img { display: block; width: 100%; }

.avatar{
    z-index: 2;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 50px; 
    display: block;
}

.characterinfo{
    position: absolute;
    margin-left: 375px;
    margin-top:50px;
    width: 350px;
    height:384px ;
    color: #eee;
    z-index: 12;
}

#name{
    text-align: center;
    font-size: 45px;
    margin: auto;
    padding: 0px;
}

#story{
    padding: 3px;
}

#statList{
    margin: 0px;
    padding: 0px;
    float: right;
    list-style-type:none;
}

.text-center{
    text-align: center;
}

addTeam-btn{
    cursor: pointer;
    width: 150px;
    height: 60px;
    margin: auto;
    background: linear-gradient(to bottom,#194900 0,#42B308 60%,#194900 100%);
    border-radius: 5px;
    color: #FFF;
    font-family: "Segoe UI";
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 5px 5px #12200f;
}