.container{
    /* background-color: red; */
    position: relative;
    margin-left: 60px;
    width: 450px;
    height: 450px;
    overflow: visible; 
    display: block;
    /* transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear; */
}


.characterCircle, #overlay{
    float: left;
    position: absolute;
    width: 384px;
    height: 384px; 
}

#overlay{
    top: 18px;
    left: 22px;
    width: 776px;
    height: 444px;
    pointer-events: none;
    background: url("/assets/misc/charSelection.png");
    background-repeat: no-repeat;
    z-index: 10;
    margin: auto; 
}

.characterCircle .selectedAvatar{
    position:absolute;
    border-radius: 50%;
     /* height: auto;
    width: auto; 
    max-width: 100px;  
    display: block; */
    transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    -webkit-transform: scale(2.5, 2.5);
    top: 50%;
    left: 50%;
     /* margin:-50px;  
    z-index: 1; */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
    /* border: 10px solid rgb(167, 20, 70); */
}

.characterCircle .selected{
    -webkit-filter: contrast(230%);
    filter: contrast(230%);
}

.characterCircle div {
    border-radius: 50%;
	display: block;
	overflow: hidden;
    position: absolute;
    top: 55%; left: 55%; 
    border: solid 3px;
     /* margin: -2em;   */
}

/* .avatar div:hover {
    position: absolute;
	width: 4em;
    background: rgba(0,0,0,.5);
    transition: .7s;
} */

.characterCircle div img { display: block; width: 100%; }

.avatar{
    z-index: 2;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 50px; 
    display: block;
}

.characterinfo{
    position: absolute;
    margin-left: 375px;
    margin-top:50px;
    width: 350px;
    height:384px ;
    color: #eee;
    z-index: 12;
}

#name{
    text-align: center;
    font-size: 45px;
    margin: auto;
    padding: 0px;
}

#story{
    padding: 3px;
}

#statList{
    margin: 0px;
    padding: 0px;
    float: right;
    list-style-type:none;
}
