<!-- <app-news-list></app-news-list> -->
<div id="title"></div>
<div class="main-wrapper">
    <div class="vineline wrapper">
        <div class="blackbutton center-x center-y noBorder" routerLink="/game">
            <p id="btn-txt" class="center-x center-y unselectable-text">GAME</p>
        </div>
    </div>
    <div class="info">
        <div class="news-wrapper cstm-scrollbar">
            <app-news-list></app-news-list>
        </div>
    </div>
    <div class="vineline bottom mid-to-bot"></div>
</div>